
@media (max-width: 1199px) {
    .mb_30_lg{
      margin-bottom: 30px;
    }
    .mb_45_lg{
      margin-bottom: 45px;
    }
  
    .top_header p {
      font-size: 13px;
    }
    .top_bleft {
      padding-left: 7px;
    }
    .menu_btn {
      margin-left: 100px;
    }
    .banner_content h3 {
      font-size: 30px;
      line-height: 38px;
    }
    .banner_content h2 {
      font-family: "Fredoka One", sans-serif;
      color: #fff;
      font-size: 52px;
      line-height: 62px;
    }
    .about_header h2 {
      font-size: 28px;
    }
    .footerTopText span {
      font-size: 16px;
    }
    .footerSocial ul li span {
      display: none;
    }
  }
  @media (max-width: 992px) {
    .mb_30_md{
      margin-bottom: 30px;
    }
    .mb_60_md{
      margin-bottom: 60px;
    }
    .mt_30_md{
      margin-top:30px;
    }
    .mt_60_md{
      margin-top:60px;
    }
    .top_header_bg {
      display: none;
    }
    .top_bleft {
      border-left: none;
      padding-left: 0px;
    }
    .social_icon {
      text-align: center;
    }
    .top_header a {
      border-right: none;
    }
    .top_header a:first-child {
      border-left: none;
    }
    /* menu part css */
    body {
      overflow-x: hidden;
    }
    .nav-links {
      position: absolute;
      right: 0%;
      height: 92vh;
      top: 8vh;
      padding-top:110px;
      background: linear-gradient(145deg, rgb(255, 79, 88) 0%, rgb(255, 180, 0) 100%);
      -webkit-box-shadow: 0px 4px 6px 0px rgba(255, 114, 58, 0.36);
              box-shadow: 0px 4px 6px 0px rgba(255, 114, 58, 0.36);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      -webkit-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in;
      z-index: 99;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
    }
    .nav-links a {
      font-size: 16px;
      padding: 0px 0px;
      color: #fff;
    }
    .nav-links .admission {
      margin-top: 0px;
      margin-left: 0px;
      font-size: 14px;
    }
    .nav-links li {
      opacity: 0;
    }
    .burger {
      display: block;
    }
    .nav-active {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
    @-webkit-keyframes navLinkFade {
      from {
        opacity: 0;
        -webkit-transform: translateX(50px);
                transform: translateX(50px);
      }
      to {
        opacity: 1;
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
      }
    }
    @keyframes navLinkFade {
      from {
        opacity: 0;
        -webkit-transform: translateX(50px);
                transform: translateX(50px);
      }
      to {
        opacity: 1;
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
      }
    }
    .toggle .line1 {
      -webkit-transform: rotate(-45deg) translate(-5px, 6px);
              transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .line2 {
      opacity: 0;
    }
    .toggle .line3 {
      -webkit-transform: rotate(45deg) translate(-5px, -6px);
              transform: rotate(45deg) translate(-5px, -6px);
    }
    .footerSocial ul li span {
      display: none;
    }
    .footerSocial ul li:not(:last-child)::before {
      position: absolute;
      width: 1px;
      height: 40px;
      right: 0;
      content: "";
      background: none;
      -webkit-transform: rotate(32deg);
      transform: rotate(32deg);
    }
    .footerSocial ul li {
      padding-right: 0px;
      margin-left: 15px;
    }
    .footerTopBox {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .footerTopIcon {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
    }
    .footerTopIcon img{
      width:30px;
    }
  }
  @media (max-width: 768px) {
    .ptb_100 {
      padding: 60px 0px;
    }
    
    /* banner part*/
    .banner_item {
      padding: 100px 0px;
    }
    .banner_content h3 {
      font-size: 28px;
      line-height: 36px;
    }
    .banner_content h2 {
      font-size: 42px;
      line-height: 52px;
    }
    .banner_content p {
      font-size: 16px;
      line-height: 24px;
    }
    .btn_one {
      width: 150px;
      height: 50px;
      line-height: 50px !important;
    }
    .btn_two {
      width: 150px;
      height: 50px;
      line-height: 50px !important;
    }
    .aboutHeader h2 {
      font-size: 26px;
      line-height: 36px;
    }
    .breadcrumbTitle h2 {
      font-size: 32px;
      line-height: 36px;
    }
    .cdpShare{
      flex-wrap: wrap;
    }
    .adminText{
      flex-wrap: wrap;
    }
    .classDetailsText {
      padding: 30px 20px;
    }
    .adminText{
      margin-bottom: 30px;
    }
    .adminText p{
      line-height: 18px;
    }
    .galleryMenu {
      flex-wrap: wrap;
    }
    .galleryMenu li {
      border-bottom: none;
    }
    .formArea {
      padding: 50px 15px;
    }
    .breadcrumbTitle h2 {
      font-size: 32px;
    }
    .footerTopBorder {
      border-bottom: none;
    }
    .footerTopBox {
      border-right: none;
      padding-bottom: 0px;
    }
    .footerSocial ul {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .copyRightText {
      text-align: center;
      padding-top: 10px;
    }
  }
  