.contactBox {
	padding: 50px 30px;
	padding-bottom: 40px;
	background: #fff;
	box-shadow: 0 0 10px rgba(136, 136, 136, 0.1);
}
.contactBox h2 {
	font-size: 24px;
	margin-bottom: 7px;
	text-transform: capitalize;
}
.contactBox p {
	margin-bottom: 0;
	font-size: 20px;
	line-height: 28px;
}